node_modules/
lib/
out/
bin/
pack/
src-gen/
*.log
*.vsix
*.tgz
.DS_Store

node_modules
node_modules/.yarn-integrity
.browser_modules

**/.yarn/cache
**/.yarn/install-state.gz

lib

*.log

**/*-browser-app/**
!**/*-browser-app/package.json


tsconfig.tsbuildinfo
