.sprotty {
    height: 100%;
    display: flex;
}

svg {
    border-style: solid;
    border-width: 1px;
    border-color: var(--uml-edge);
    height: 100%;
    width: 100%;
}

.sprotty-graph {
    background: var(--uml-diagram-background);
    font-size: 15pt;
    height: 100%;
    width: 100%;
}

.sprotty-label {
    fill: var(--uml-label);
    font-weight: inherit;
    font-size: 100%;
}

.selection-feedback {
    fill: none;
}

.selection-feedback.hover {
    stroke-width: 0.75;
}

.selection-feedback.selected {
    stroke-width: 1.5;
}


.sprotty-missing {
    stroke-width: 1;
    stroke: var(--uml-error);
    fill: var(--uml-error);
    font-size: 14pt;
    text-anchor: middle;
}

.sprotty-popup-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.sprotty-popup-body>p {
    margin-bottom: 2px;
}

#tent path, #triangle path, #triangle-empty path, #diamond path, #diamond-empty path {
    stroke-dasharray: none;
}

@import "uml/common.css"
