.sprotty {
    height: 100%;
    display: flex;
}

svg {
    border-style: solid;
    border-width: 1px;
    border-color: var(--uml-edge);
    height: 100%;
    width: 100%;
}

.sprotty-graph {
    background: var(--uml-diagram-background);
    font-size: 15pt;
    height: 100%;
    width: 100%;
}

.uml-node {
    fill: var(--uml-node);
    filter: url(#dropShadow);
    stroke-width: 1;
    stroke: var(--uml-border);
}

.uml-node.mouseover:not(.selected) {
    stroke-width: 2;
}

.uml-node.selected {
    stroke-width: 3;
}

.uml-node .sprotty-node {
    fill: inherit;
    stroke: var(--uml-border);
}

.sprotty-label {
    fill: var(--uml-label);
    font-weight: inherit;
    font-size: 100%;
}

.selection-feedback {
    fill: none;
}

.selection-feedback.hover {
    stroke-width: 0.75;
}

.selection-feedback.selected {
    stroke-width: 1.5;
}

.uml-comp-separator {
    stroke-width: 1;
    stroke: var(--uml-edge);
}

.uml-edge {
    fill: none;
    stroke-width: 1;
    stroke: var(--uml-edge) !important;
}

.uml-edge.mouseover:not(.selected) {
    stroke-width: 2;
    opacity: 1;
}

.uml-edge.selected {
    stroke-width: 3;
    stroke-dasharray: none;
}

.uml-edge > .sprotty-routing-handle {
    r: 4;
    fill: var(--uml-edge);
    stroke: var(--uml-edge);
    stroke-width: 2;
    z-index: 1000;
}

.uml-edge > .sprotty-routing-handle.mouseover {
    stroke-width: 3;
}

.sprotty-missing {
    stroke-width: 1;
    stroke: var(--uml-error);
    fill: var(--uml-error);
    font-size: 14pt;
    text-anchor: middle;
}

.sprotty-popup-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.sprotty-popup-body > p {
    margin-bottom: 2px;
}

/* ACTIVITY */
.uml-activity-condition {
    font-size: 0.7em;
}

/* OBJECT */
.uml-underline {
    text-decoration: underline;
}


/* USECASE */
.uml-edge-dotted {
    stroke-dasharray: 2, 4;
}

/*.uml-edge-dashed {
    stroke-dasharray: 7, 7;
}*/

.uml-edge-dashed {
    stroke-dasharray: 15 10;
}

.uml-edge-directed-end {
    marker-end: url("#triangle");
}

.uml-edge-directed-start {
    marker-start: url("#triangle");
}

.uml-edge-directed-end-tent {
    marker-end: url("#tent");
}

.uml-edge-directed-start-tent {
    marker-start: url("#tent");
}

.uml-edge-directed-end-empty {
    marker-end: url("#triangle-empty");
}

.uml-edge-directed-start-empty {
    marker-start: url("#triangle-empty");
}

.uml-edge-directed-diamond {
    marker-start: url("#diamond");
}

.uml-edge-directed-diamond-empty {
    marker-start: url("#diamond-empty");
}

#tent path, #triangle path, #triangle-empty path, #diamond path, #diamond-empty path {
    stroke-dasharray: none;
}

/*.uml-package > .sprotty-node {
    fill: #88bd5c80;
}*/

.uml-package > .struct {
    fill: none;
    stroke: none;
}
