.editor-panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    outline: none;
}

.editor-panel-header {
    border-top: 1px solid var(--theia-tab-unfocusedActiveBorderTop);
    background: var(--theia-titleBar-activeBackground);
    color: var(--theia-titleBar-activeForeground);
    display: flex;
    flex-direction: row;
}

.editor-panel-header:hover {
    cursor: pointer;
}

.editor-panel:focus-within .editor-panel-header {
    border-top-color: var(--theia-focusBorder);
}

.editor-panel-tab-header {
    width: 4rem;
    padding: 0.4rem;
    display: flex;
    align-items: center;
}

.editor-panel-tab-header.active {
    background: var(--theia-activityBar-background);
}

.editor-panel-tab-header:hover {
    background: var(--theia-menubar-selectionBackground);
}

.editor-panel-collapse {
    border: none;
    margin-left: auto;
    padding: 0.4rem;
    background: inherit;
    color: inherit;
    cursor: pointer;
}

.editor-panel-collapse:hover {
    background: var(--theia-menubar-selectionBackground)
}

.editor-panel-content {
    outline: none;
    flex: 1;
}