.property-palette {
    display: flex;
    flex-direction: column;
    background: var(--theia-menu-background);
    height: 192px;
}

.property-palette-header {
    padding: 0.4rem;
    background: var(--theia-activityBar-background);
}

.property-palette-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    overflow: auto;
}

.property-palette-content>.property-item {
    margin-bottom: 0.2rem;
}

.property-item {
    padding: 0.4rem;
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
}

.property-item>.property-item-full {
    flex: 1;
}

.property-item .property-item-label {
    width: 128px;
    word-wrap: break-word;
    padding-right: 0.2rem;
}

.property-reference-item .reference-container {
    display: flex;
    flex-direction: column;
}

.property-reference-item .reference-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.5rem;
}

.property-reference-item .reference-element:hover {
    background: var(--theia-menubar-selectionBackground);
    cursor: pointer;
}

.property-reference-item .reference-element-selected {
    background: var(--theia-activityBar-background);
    padding-left: 1rem;
}

.property-reference-item .reference-element>label {
    cursor: inherit;
}

.property-reference-item .reference-element-navigate {
    border: none;
    margin-left: auto;
    padding: 0.4rem;
    background: inherit;
    color: inherit;
    cursor: pointer;
}

.property-reference-item .reference-element-navigate:hover {
    background: var(--theia-menubar-selectionBackground)
}

.property-reference-item .reference-create-reference, .property-reference-item .reference-delete {
    border: none;
    padding: 0.4rem;
    background: inherit;
    color: inherit;
    cursor: pointer;
}

.property-reference-item .reference-container-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}

.property-reference-item .reference-create-reference:hover, .property-reference-item .reference-delete:hover {
    background: var(--theia-menubar-selectionBackground)
}

.property-reference-item .reference-create-reference {
    color: var(--theia-successBackground)
}

.property-reference-item .reference-delete {
    color: var(--theia-errorForeground);
    margin-left: 0.5rem;
}