.property-palette {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    outline: none;
}

.property-palette-header {
    border-top: 1px solid var(--theia-tab-unfocusedActiveBorderTop);
    background: var(--theia-titleBar-activeBackground);
    color: var(--theia-titleBar-activeForeground);
    display: flex;
    flex-direction: row;
}

.property-palette:focus-within .property-palette-header {
    border-top-color: var(--theia-focusBorder);
}

.property-palette-tab-header {
    background: var(--theia-activityBar-background);
    width: 4rem;
    padding: 0.4rem;
    display: flex;
    align-items: center;
}

.property-palette-collapse {
    border: none;
    margin-left: auto;
    padding: 0.4rem;
    background: inherit;
    color: inherit;
    cursor: pointer;
}

.property-palette-collapse:hover {
    background: var(--theia-menubar-selectionBackground)
}

.property-palette-body {
    display: flex;
    flex-direction: column;
    background: var(--theia-menu-background);
    padding: 0.4rem;
    height: 168px;
}

.property-item {
    display: flex;
    align-items: center;
}

.property-item label, .property-text-item input {
    padding: 0.2rem;
}
