
/* DEPLOYMENT DIAGRAM*/
.umlartifact {
    background-image: var(--uml-icon-artifact);
}

.umldevice {
    background-image: var(--uml-icon-device);
}

.umlexecutionenvironment {
    background-image: var(--uml-icon-execution-environment);
}

.umldeployment {
    background-image: var(--uml-icon-deployment);
}

.umldeploymentnode {
    background-image: var(--uml-icon-deployment-node);
}

.umldeploymentspecification {
    background-image: var(--uml-icon-deployment-specification);
}

.umlcommunicationpath {
    background-image: var(--uml-icon-communication-path);
}
