:root {

    /* DEPLOYMENT DIAGRAM */
    --uml-icon-artifact: url(../../../resources/icons/light/deployment/Artifact.svg);
    --uml-icon-device: url(../../../resources/icons/light/deployment/Device.svg);
    --uml-icon-execution-environment: url(../../../resources/icons/light/deployment/ExecutionEnvironment.svg);
    --uml-icon-deployment-node: url(../../../resources/icons/light/deployment/DeploymentNode.svg);
    --uml-icon-deployment-specification: url(../../../resources/icons/light/deployment/DeploymentSpecification.svg);
    --uml-icon-communication-path: url(../../../resources/icons/light/class/Association.gif);
    /* TODO change icon */
    --uml-icon-deployment: url(../../../resources/icons/light/class/Association.gif);
    /* TODO change icon */

}
