:root {
    /* STATEMACHINE DIAGRAM */
    --uml-icon-state: url(../../../../../resources/icons/dark/statemachine/State.svg);
    --uml-icon-final-state: url(../../../../../resources/icons/dark/statemachine/FinalState.svg);
    --uml-icon-state-machine: url(../../../../../resources/icons/light/class/Class.gif);
    /* TODO change icon */
    --uml-icon-initial-state: url(../../../../../resources/icons/dark/statemachine/InitialState.svg);
    --uml-icon-choice: url(../../../../../resources/icons/dark/statemachine/Choice.svg);
    --uml-icon-deep-history: url(../../../../../resources/icons/dark/statemachine/DeepHistory.svg);
    --uml-icon-join-fork: url(../../../../../resources/icons/dark/statemachine/JoinFork.svg);
    --uml-icon-shallow-history: url(../../../../../resources/icons/dark/statemachine/ShallowHistory.svg);
    --uml-icon-terminate: url(../../../../../resources/icons/dark/statemachine/Terminate.svg);
    --uml-icon-transition: url(../../../../../resources/icons/dark/statemachine/Transition.svg);
    --uml-icon-exit-point: url(../../../../../resources/icons/dark/statemachine/EntryPoint.svg);
    --uml-icon-entry-point: url(../../../../../resources/icons/dark/statemachine/ExitPoint.svg);
    --uml-icon-state-activity: url(../../../../../resources/icons/dark/class/Property.gif);
    /* TODO change icon */

}
