.uml-node {
    fill: var(--uml-node);
    filter: drop-shadow(0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5));
    stroke-width: 1;
    stroke: var(--uml-border);
}

.uml-node.mouseover:not(.selected) {
    stroke-width: 2;
}

.uml-node.selected {
    stroke-width: 3;
}

.uml-node .sprotty-node {
    fill: inherit;
    stroke: var(--uml-border);
}

.uml-node-container {
    border-radius: 20;
}

.uml-comp-separator {
    stroke-width: 1;
    stroke: var(--uml-edge);
}

.uml-packageable-node > .struct {
    fill: none;
    stroke: none;
}
