.uml-theme .uml-text-underline {
    text-decoration: underline;
}

.uml-theme .uml-font-bold {
    font-weight: bold;
}

.uml-theme .uml-font-italic {
    font-style: italic;
}

.uml-theme .uml-divider-subtitle {
    fill: var(--uml-divider-subtitle);
    font-size: small;
}
