
/* ACTIVITY */
.umlactivity {
    background-image: var(--uml-icon-activity);
}

.umlpartition {
    background-image: var(--uml-icon-partition);
}

.umlcontrolflow {
    background-image: var(--uml-icon-controlflow);
}

.umlaction {
    background-image: var(--uml-icon-action);
}

.umlevent {
    background-image: var(--uml-icon-event);
}

.umltime {
    background-image: var(--uml-icon-time);
}

.umlsignal {
    background-image: var(--uml-icon-signal);
}

.umlcall {
    background-image: var(--uml-icon-call);
}

.umlinitial {
    background-image: var(--uml-icon-initial);
}

.umlfinal {
    background-image: var(--uml-icon-final);
}

.umlflowfinal {
    background-image: var(--uml-icon-flowfinal);
}

.umldecision {
    background-image: var(--uml-icon-decision);
}

.umlmerge {
    background-image: var(--uml-icon-merge);
}

.umlfork {
    background-image: var(--uml-icon-fork);
}

.umljoin {
    background-image: var(--uml-icon-join);
}

.umlparameter {
    background-image: var(--uml-icon-parameter);
}

.umlpin {
    background-image: var(--uml-icon-pin);
}

.umlcentralbuffer {
    background-image: var(--uml-icon-centralbuffer);
}

.umldatastore {
    background-image: var(--uml-icon-datastore);
}

.umlcomment {
    background-image: var(--uml-icon-comment);
}

.umlcommentedge {
    background-image: var(--uml-icon-comment-edge);
}

.umlexceptionhandler {
    background-image: var(--uml-icon-exceptionhandler);
}

.umlinterruptibleregion {
    background-image: var(--uml-icon-interruptibleregion);
}

.umlcondition {
    background-image: var(--uml-icon-condition);
}

/* Pin */
/* .pin text {
    display: none;
} */


.centralbuffer > g > text:last-of-type {
    font-weight: bold;
}

.centralbuffer > g > text:first-of-type {
    font-size: smaller;
}

.pin:hover text {
    display: initial;
}

.datastore > g > text:last-of-type {
    font-weight: bold;
}

.datastore > g > text:first-of-type {
    font-size: smaller;
}
