:root {

    /* COMMENT */
    --uml-icon-comment: url(../../../resources/icons/light/comment/Comment.gif);
    --uml-icon-comment-edge: url(../../../resources/icons/light/comment/CommentEdge.gif);

    /* CLASS DIAGRAM */
    --uml-icon-class: url(../../../resources/icons/light/class/Class.gif);
    --uml-icon-association: url(../../../resources/icons/light/class/Association.gif);
    --uml-icon-property: url(../../../resources/icons/light/class/Property.gif);
    --uml-icon-enumeration: url(../../../resources/icons/light/class/Enumeration.gif);

    /* OBJECT DIAGRAM */
    --uml-icon-object: url(../../../resources/icons/light/object/Class.gif);

    /* ACTIVITY DIAGRAM */
    --uml-icon-activity: url(../../../resources/icons/light/activity/Activity.gif);
    --uml-icon-partition: url(../../../resources/icons/light/activity/Partition.gif);
    --uml-icon-controlflow: url(../../../resources/icons/light/activity/ControlFlow.gif);
    --uml-icon-action: url(../../../resources/icons/light/activity/Action.gif);
    --uml-icon-event: url(../../../resources/icons/light/activity/Event.gif);
    --uml-icon-time: url(../../../resources/icons/light/activity/Time.gif);
    --uml-icon-signal: url(../../../resources/icons/light/activity/Signal.gif);
    --uml-icon-call: url(../../../resources/icons/light/activity/Call.gif);
    --uml-icon-initial: url(../../../resources/icons/light/activity/Initial.gif);
    --uml-icon-final: url(../../../resources/icons/light/activity/Final.gif);
    --uml-icon-flowfinal: url(../../../resources/icons/light/activity/FlowFinal.gif);
    --uml-icon-decision: url(../../../resources/icons/light/activity/Decision.gif);
    --uml-icon-merge: url(../../../resources/icons/light/activity/Merge.gif);
    --uml-icon-fork: url(../../../resources/icons/light/activity/Fork.gif);
    --uml-icon-join: url(../../../resources/icons/light/activity/Join.gif);
    --uml-icon-parameter: url(../../../resources/icons/light/activity/Parameter.gif);
    --uml-icon-pin: url(../../../resources/icons/light/activity/Pin.gif);
    --uml-icon-centralbuffer: url(../../../resources/icons/light/activity/CentralBuffer.gif);
    --uml-icon-datastore: url(../../../resources/icons/light/activity/DataStore.gif);
    --uml-icon-exceptionhandler: url(../../../resources/icons/light/activity/ExceptionHandler.gif);
    --uml-icon-interruptibleregion: url(../../../resources/icons/light/activity/Region.gif);
    --uml-icon-condition: url(../../../resources/icons/light/activity/Condition.gif);

    /* USECASE DIAGRAM */
    --uml-icon-usecase: url(../../../resources/icons/light/usecase/UseCase.gif);
    --uml-icon-actor: url(../../../resources/icons/light/usecase/Actor.gif);
    --uml-icon-package: url(../../../resources/icons/light/usecase/Package.gif);
    --uml-icon-component: url(../../../resources/icons/light/usecase/Component.gif);
    --uml-icon-include: url(../../../resources/icons/light/usecase/Include.gif);
    --uml-icon-extend: url(../../../resources/icons/light/usecase/Extend.gif);
    --uml-icon-generalization: url(../../../resources/icons/light/usecase/Generalization.gif);

    /* STATEMACHINE DIAGRAM */
    --uml-icon-state: url(../../../resources/icons/light/statemachine/State.svg);
    --uml-icon-final-state: url(../../../resources/icons/light/statemachine/FinalState.svg);
    --uml-icon-state-machine: url(../../../resources/icons/light/class/Class.gif); /* TODO change icon */
    --uml-icon-initial-state: url(../../../resources/icons/light/statemachine/InitialState.svg);
    --uml-icon-choice: url(../../../resources/icons/light/statemachine/Choice.svg);
    --uml-icon-deep-history: url(../../../resources/icons/light/statemachine/DeepHistory.svg);
    --uml-icon-join-fork: url(../../../resources/icons/light/statemachine/JoinFork.svg);
    --uml-icon-shallow-history: url(../../../resources/icons/light/statemachine/ShallowHistory.svg);
    --uml-icon-terminate: url(../../../resources/icons/light/statemachine/Terminate.svg);
    --uml-icon-transition: url(../../../resources/icons/light/statemachine/Transition.svg);
    --uml-icon-exit-point: url(../../../resources/icons/light/statemachine/ExitPoint.svg);
    --uml-icon-entry-point: url(../../../resources/icons/light/statemachine/EntryPoint.svg);
    --uml-icon-state-activity: url(../../../resources/icons/light/class/Property.gif); /* TODO change icon */

    /* DEPLOYMENT DIAGRAM */
    --uml-icon-artifact: url(../../../resources/icons/light/deployment/Artifact.svg);
    --uml-icon-device: url(../../../resources/icons/light/deployment/Device.svg);
    --uml-icon-execution-environment: url(../../../resources/icons/light/deployment/ExecutionEnvironment.svg);
    --uml-icon-deployment-node: url(../../../resources/icons/light/deployment/DeploymentNode.svg);
    --uml-icon-deployment-specification: url(../../../resources/icons/light/deployment/DeploymentSpecification.svg);
    --uml-icon-communication-path: url(../../../resources/icons/light/class/Association.gif); /* TODO change icon */
    --uml-icon-deployment: url(../../../resources/icons/light/class/Association.gif); /* TODO change icon */
}
