/* THIS FILE IS GENERATED */

:root {
    --uml-activity-icon: url("../../resources/papyrus/Activity.gif");
    --uml-class-icon: url("../../resources/papyrus/Class.gif");
    --uml-collaboration-icon: url("../../resources/papyrus/Collaboration.gif");
    --uml-data-type-icon: url("../../resources/papyrus/DataType.gif");
    --uml-enumeration-icon: url("../../resources/papyrus/Enumeration.gif");
    --uml-enumeration-literal-icon: url("../../resources/papyrus/EnumerationLiteral.gif");
    --uml-generalization-15x15-icon: url("../../resources/papyrus/Generalization-15x15.gif");
    --uml-interface-icon: url("../../resources/papyrus/Interface.gif");
    --uml-literal-boolean-icon: url("../../resources/papyrus/LiteralBoolean.gif");
    --uml-literal-integer-icon: url("../../resources/papyrus/LiteralInteger.gif");
    --uml-literal-real-icon: url("../../resources/papyrus/LiteralReal.gif");
    --uml-literal-string-icon: url("../../resources/papyrus/LiteralString.gif");
    --uml-literal-unlimited-natural-icon: url("../../resources/papyrus/LiteralUnlimitedNatural.gif");
    --uml-metaclass-icon: url("../../resources/papyrus/Metaclass.gif");
    --uml-operation-icon: url("../../resources/papyrus/Operation.gif");
    --uml-port-icon: url("../../resources/papyrus/Port.gif");
    --uml-property-icon: url("../../resources/papyrus/Property.gif");
    --uml-autosize-icon: url("../../resources/papyrus/autosize.gif");
    --uml-none-comp-vis-icon: url("../../resources/papyrus/none_comp_vis.gif");
    --uml-abstraction-icon: url("../../resources/papyrus/obj16/Abstraction.gif");
    --uml-accept-call-action-icon: url("../../resources/papyrus/obj16/AcceptCallAction.gif");
    --uml-accept-event-action-icon: url("../../resources/papyrus/obj16/AcceptEventAction.gif");
    --uml-action-execution-specification-icon: url("../../resources/papyrus/obj16/ActionExecutionSpecification.gif");
    --uml-action-input-pin-icon: url("../../resources/papyrus/obj16/ActionInputPin.gif");
    --uml-activity-final-node-icon: url("../../resources/papyrus/obj16/ActivityFinalNode.gif");
    --uml-activity-parameter-node-icon: url("../../resources/papyrus/obj16/ActivityParameterNode.gif");
    --uml-activity-partition-icon: url("../../resources/papyrus/obj16/ActivityPartition.gif");
    --uml-actor-icon: url("../../resources/papyrus/obj16/Actor.gif");
    --uml-add-structural-feature-value-action-icon: url("../../resources/papyrus/obj16/AddStructuralFeatureValueAction.gif");
    --uml-add-variable-value-action-icon: url("../../resources/papyrus/obj16/AddVariableValueAction.gif");
    --uml-add-16x16-icon: url("../../resources/papyrus/obj16/Add_16x16.gif");
    --uml-any-receive-event-icon: url("../../resources/papyrus/obj16/AnyReceiveEvent.gif");
    --uml-arrow-down-16x16-icon: url("../../resources/papyrus/obj16/ArrowDown_16x16.gif");
    --uml-arrow-left-16x16-icon: url("../../resources/papyrus/obj16/ArrowLeft_16x16.gif");
    --uml-arrow-right-16x16-icon: url("../../resources/papyrus/obj16/ArrowRight_16x16.gif");
    --uml-arrow-up-16x16-icon: url("../../resources/papyrus/obj16/ArrowUp_16x16.gif");
    --uml-artifact-icon: url("../../resources/papyrus/obj16/Artifact.gif");
    --uml-association-icon: url("../../resources/papyrus/obj16/Association.gif");
    --uml-association-class-icon: url("../../resources/papyrus/obj16/AssociationClass.gif");
    --uml-association-composite-icon: url("../../resources/papyrus/obj16/Association_composite.gif");
    --uml-association-none-icon: url("../../resources/papyrus/obj16/Association_none.gif");
    --uml-association-shared-icon: url("../../resources/papyrus/obj16/Association_shared.gif");
    --uml-behavior-execution-specification-icon: url("../../resources/papyrus/obj16/BehaviorExecutionSpecification.gif");
    --uml-broadcast-signal-action-icon: url("../../resources/papyrus/obj16/BroadcastSignalAction.gif");
    --uml-call-behavior-action-icon: url("../../resources/papyrus/obj16/CallBehaviorAction.gif");
    --uml-call-event-icon: url("../../resources/papyrus/obj16/CallEvent.gif");
    --uml-call-operation-action-icon: url("../../resources/papyrus/obj16/CallOperationAction.gif");
    --uml-central-buffer-node-icon: url("../../resources/papyrus/obj16/CentralBufferNode.gif");
    --uml-change-event-icon: url("../../resources/papyrus/obj16/ChangeEvent.gif");
    --uml-classifier-template-parameter-icon: url("../../resources/papyrus/obj16/ClassifierTemplateParameter.gif");
    --uml-clause-icon: url("../../resources/papyrus/obj16/Clause.gif");
    --uml-clear-association-action-icon: url("../../resources/papyrus/obj16/ClearAssociationAction.gif");
    --uml-clear-structural-feature-action-icon: url("../../resources/papyrus/obj16/ClearStructuralFeatureAction.gif");
    --uml-clear-variable-action-icon: url("../../resources/papyrus/obj16/ClearVariableAction.gif");
    --uml-collaboration-use-icon: url("../../resources/papyrus/obj16/CollaborationUse.gif");
    --uml-combined-fragment-icon: url("../../resources/papyrus/obj16/CombinedFragment.gif");
    --uml-comment-icon: url("../../resources/papyrus/obj16/Comment.gif");
    --uml-communication-path-icon: url("../../resources/papyrus/obj16/CommunicationPath.gif");
    --uml-component-icon: url("../../resources/papyrus/obj16/Component.gif");
    --uml-component-realization-icon: url("../../resources/papyrus/obj16/ComponentRealization.gif");
    --uml-conditional-node-icon: url("../../resources/papyrus/obj16/ConditionalNode.gif");
    --uml-connectable-element-template-parameter-icon: url("../../resources/papyrus/obj16/ConnectableElementTemplateParameter.gif");
    --uml-connection-point-reference-icon: url("../../resources/papyrus/obj16/ConnectionPointReference.gif");
    --uml-connector-icon: url("../../resources/papyrus/obj16/Connector.gif");
    --uml-connector-end-icon: url("../../resources/papyrus/obj16/ConnectorEnd.gif");
    --uml-connector-assembly-icon: url("../../resources/papyrus/obj16/Connector_assembly.gif");
    --uml-connector-delegation-icon: url("../../resources/papyrus/obj16/Connector_delegation.gif");
    --uml-consider-ignore-fragment-icon: url("../../resources/papyrus/obj16/ConsiderIgnoreFragment.gif");
    --uml-constraint-icon: url("../../resources/papyrus/obj16/Constraint.gif");
    --uml-continuation-icon: url("../../resources/papyrus/obj16/Continuation.gif");
    --uml-control-flow-icon: url("../../resources/papyrus/obj16/ControlFlow.gif");
    --uml-create-link-action-icon: url("../../resources/papyrus/obj16/CreateLinkAction.gif");
    --uml-create-link-object-action-icon: url("../../resources/papyrus/obj16/CreateLinkObjectAction.gif");
    --uml-create-object-action-icon: url("../../resources/papyrus/obj16/CreateObjectAction.gif");
    --uml-creation-event-icon: url("../../resources/papyrus/obj16/CreationEvent.gif");
    --uml-data-store-node-icon: url("../../resources/papyrus/obj16/DataStoreNode.gif");
    --uml-decision-node-icon: url("../../resources/papyrus/obj16/DecisionNode.gif");
    --uml-delete-16x16-icon: url("../../resources/papyrus/obj16/Delete_16x16.gif");
    --uml-dependency-icon: url("../../resources/papyrus/obj16/Dependency.gif");
    --uml-deployment-icon: url("../../resources/papyrus/obj16/Deployment.gif");
    --uml-deployment-specification-icon: url("../../resources/papyrus/obj16/DeploymentSpecification.gif");
    --uml-destroy-link-action-icon: url("../../resources/papyrus/obj16/DestroyLinkAction.gif");
    --uml-destroy-object-action-icon: url("../../resources/papyrus/obj16/DestroyObjectAction.gif");
    --uml-destruction-event-icon: url("../../resources/papyrus/obj16/DestructionEvent.gif");
    --uml-device-icon: url("../../resources/papyrus/obj16/Device.gif");
    --uml-duration-icon: url("../../resources/papyrus/obj16/Duration.gif");
    --uml-duration-constraint-icon: url("../../resources/papyrus/obj16/DurationConstraint.gif");
    --uml-duration-interval-icon: url("../../resources/papyrus/obj16/DurationInterval.gif");
    --uml-duration-observation-icon: url("../../resources/papyrus/obj16/DurationObservation.gif");
    --uml-element-import-icon: url("../../resources/papyrus/obj16/ElementImport.gif");
    --uml-exception-handler-icon: url("../../resources/papyrus/obj16/ExceptionHandler.gif");
    --uml-execution-environment-icon: url("../../resources/papyrus/obj16/ExecutionEnvironment.gif");
    --uml-execution-event-icon: url("../../resources/papyrus/obj16/ExecutionEvent.gif");
    --uml-execution-occurrence-specification-icon: url("../../resources/papyrus/obj16/ExecutionOccurrenceSpecification.gif");
    --uml-expansion-node-icon: url("../../resources/papyrus/obj16/ExpansionNode.gif");
    --uml-expansion-region-icon: url("../../resources/papyrus/obj16/ExpansionRegion.gif");
    --uml-export-icon: url("../../resources/papyrus/obj16/Export.gif");
    --uml-expression-icon: url("../../resources/papyrus/obj16/Expression.gif");
    --uml-extend-icon: url("../../resources/papyrus/obj16/Extend.gif");
    --uml-extension-icon: url("../../resources/papyrus/obj16/Extension.gif");
    --uml-extension-end-icon: url("../../resources/papyrus/obj16/ExtensionEnd.gif");
    --uml-extension-point-icon: url("../../resources/papyrus/obj16/ExtensionPoint.gif");
    --uml-final-state-icon: url("../../resources/papyrus/obj16/FinalState.gif");
    --uml-flow-final-node-icon: url("../../resources/papyrus/obj16/FlowFinalNode.gif");
    --uml-fork-node-icon: url("../../resources/papyrus/obj16/ForkNode.gif");
    --uml-function-behavior-icon: url("../../resources/papyrus/obj16/FunctionBehavior.gif");
    --uml-gate-icon: url("../../resources/papyrus/obj16/Gate.gif");
    --uml-general-ordering-icon: url("../../resources/papyrus/obj16/GeneralOrdering.gif");
    --uml-generalization-icon: url("../../resources/papyrus/obj16/Generalization.gif");
    --uml-generalization-set-icon: url("../../resources/papyrus/obj16/GeneralizationSet.gif");
    --uml-image-icon: url("../../resources/papyrus/obj16/Image.gif");
    --uml-include-icon: url("../../resources/papyrus/obj16/Include.gif");
    --uml-information-flow-icon: url("../../resources/papyrus/obj16/InformationFlow.gif");
    --uml-information-item-icon: url("../../resources/papyrus/obj16/InformationItem.gif");
    --uml-initial-node-icon: url("../../resources/papyrus/obj16/InitialNode.gif");
    --uml-input-pin-icon: url("../../resources/papyrus/obj16/InputPin.gif");
    --uml-instance-specification-icon: url("../../resources/papyrus/obj16/InstanceSpecification.gif");
    --uml-instance-value-icon: url("../../resources/papyrus/obj16/InstanceValue.gif");
    --uml-interaction-icon: url("../../resources/papyrus/obj16/Interaction.gif");
    --uml-interaction-constraint-icon: url("../../resources/papyrus/obj16/InteractionConstraint.gif");
    --uml-interaction-operand-icon: url("../../resources/papyrus/obj16/InteractionOperand.gif");
    --uml-interaction-use-icon: url("../../resources/papyrus/obj16/InteractionUse.gif");
    --uml-interface-realization-icon: url("../../resources/papyrus/obj16/InterfaceRealization.gif");
    --uml-interruptible-activity-region-icon: url("../../resources/papyrus/obj16/InterruptibleActivityRegion.gif");
    --uml-interval-icon: url("../../resources/papyrus/obj16/Interval.gif");
    --uml-interval-constraint-icon: url("../../resources/papyrus/obj16/IntervalConstraint.gif");
    --uml-join-node-icon: url("../../resources/papyrus/obj16/JoinNode.gif");
    --uml-lifeline-icon: url("../../resources/papyrus/obj16/Lifeline.gif");
    --uml-link-end-creation-data-icon: url("../../resources/papyrus/obj16/LinkEndCreationData.gif");
    --uml-link-end-data-icon: url("../../resources/papyrus/obj16/LinkEndData.gif");
    --uml-link-end-destruction-data-icon: url("../../resources/papyrus/obj16/LinkEndDestructionData.gif");
    --uml-literal-null-icon: url("../../resources/papyrus/obj16/LiteralNull.gif");
    --uml-load-resource-icon: url("../../resources/papyrus/obj16/LoadResource.gif");
    --uml-loop-node-icon: url("../../resources/papyrus/obj16/LoopNode.gif");
    --uml-manifestation-icon: url("../../resources/papyrus/obj16/Manifestation.gif");
    --uml-merge-node-icon: url("../../resources/papyrus/obj16/MergeNode.gif");
    --uml-message-icon: url("../../resources/papyrus/obj16/Message.gif");
    --uml-message-occurrence-specification-icon: url("../../resources/papyrus/obj16/MessageOccurrenceSpecification.gif");
    --uml-message-asynch-call-icon: url("../../resources/papyrus/obj16/Message_asynchCall.gif");
    --uml-message-asynch-signal-icon: url("../../resources/papyrus/obj16/Message_asynchSignal.gif");
    --uml-message-create-message-icon: url("../../resources/papyrus/obj16/Message_createMessage.gif");
    --uml-message-delete-message-icon: url("../../resources/papyrus/obj16/Message_deleteMessage.gif");
    --uml-message-reply-icon: url("../../resources/papyrus/obj16/Message_reply.gif");
    --uml-message-synch-call-icon: url("../../resources/papyrus/obj16/Message_synchCall.gif");
    --uml-model-icon: url("../../resources/papyrus/obj16/Model.gif");
    --uml-modify-icon: url("../../resources/papyrus/obj16/Modify.gif");
    --uml-node-icon: url("../../resources/papyrus/obj16/Node.gif");
    --uml-object-flow-icon: url("../../resources/papyrus/obj16/ObjectFlow.gif");
    --uml-occurrence-specification-icon: url("../../resources/papyrus/obj16/OccurrenceSpecification.gif");
    --uml-opaque-action-icon: url("../../resources/papyrus/obj16/OpaqueAction.gif");
    --uml-opaque-behavior-icon: url("../../resources/papyrus/obj16/OpaqueBehavior.gif");
    --uml-opaque-expression-icon: url("../../resources/papyrus/obj16/OpaqueExpression.gif");
    --uml-operation-template-parameter-icon: url("../../resources/papyrus/obj16/OperationTemplateParameter.gif");
    --uml-output-pin-icon: url("../../resources/papyrus/obj16/OutputPin.gif");
    --uml-package-icon: url("../../resources/papyrus/obj16/Package.gif");
    --uml-package-import-icon: url("../../resources/papyrus/obj16/PackageImport.gif");
    --uml-package-merge-icon: url("../../resources/papyrus/obj16/PackageMerge.gif");
    --uml-parameter-icon: url("../../resources/papyrus/obj16/Parameter.gif");
    --uml-parameter-set-icon: url("../../resources/papyrus/obj16/ParameterSet.gif");
    --uml-parameter-in-icon: url("../../resources/papyrus/obj16/Parameter_in.gif");
    --uml-parameter-inout-icon: url("../../resources/papyrus/obj16/Parameter_inout.gif");
    --uml-parameter-out-icon: url("../../resources/papyrus/obj16/Parameter_out.gif");
    --uml-parameter-return-icon: url("../../resources/papyrus/obj16/Parameter_return.gif");
    --uml-part-decomposition-icon: url("../../resources/papyrus/obj16/PartDecomposition.gif");
    --uml-pin-icon: url("../../resources/papyrus/obj16/Pin.gif");
    --uml-plus-icon: url("../../resources/papyrus/obj16/Plus.gif");
    --uml-primitive-type-icon: url("../../resources/papyrus/obj16/PrimitiveType.gif");
    --uml-profile-icon: url("../../resources/papyrus/obj16/Profile.gif");
    --uml-profile-application-icon: url("../../resources/papyrus/obj16/ProfileApplication.gif");
    --uml-protocol-conformance-icon: url("../../resources/papyrus/obj16/ProtocolConformance.gif");
    --uml-protocol-state-machine-icon: url("../../resources/papyrus/obj16/ProtocolStateMachine.gif");
    --uml-protocol-transition-icon: url("../../resources/papyrus/obj16/ProtocolTransition.gif");
    --uml-pseudostate-icon: url("../../resources/papyrus/obj16/Pseudostate.gif");
    --uml-pseudostate-choice-icon: url("../../resources/papyrus/obj16/Pseudostate_choice.gif");
    --uml-pseudostate-deep-history-icon: url("../../resources/papyrus/obj16/Pseudostate_deepHistory.gif");
    --uml-pseudostate-entry-point-icon: url("../../resources/papyrus/obj16/Pseudostate_entryPoint.gif");
    --uml-pseudostate-exit-point-icon: url("../../resources/papyrus/obj16/Pseudostate_exitPoint.gif");
    --uml-pseudostate-fork-icon: url("../../resources/papyrus/obj16/Pseudostate_fork.gif");
    --uml-pseudostate-initial-icon: url("../../resources/papyrus/obj16/Pseudostate_initial.gif");
    --uml-pseudostate-join-icon: url("../../resources/papyrus/obj16/Pseudostate_join.gif");
    --uml-pseudostate-junction-icon: url("../../resources/papyrus/obj16/Pseudostate_junction.gif");
    --uml-pseudostate-shallow-history-icon: url("../../resources/papyrus/obj16/Pseudostate_shallowHistory.gif");
    --uml-pseudostate-terminate-icon: url("../../resources/papyrus/obj16/Pseudostate_terminate.gif");
    --uml-qualifier-value-icon: url("../../resources/papyrus/obj16/QualifierValue.gif");
    --uml-raise-exception-action-icon: url("../../resources/papyrus/obj16/RaiseExceptionAction.gif");
    --uml-read-extent-action-icon: url("../../resources/papyrus/obj16/ReadExtentAction.gif");
    --uml-read-is-classified-object-action-icon: url("../../resources/papyrus/obj16/ReadIsClassifiedObjectAction.gif");
    --uml-read-link-action-icon: url("../../resources/papyrus/obj16/ReadLinkAction.gif");
    --uml-read-link-object-end-action-icon: url("../../resources/papyrus/obj16/ReadLinkObjectEndAction.gif");
    --uml-read-link-object-end-qualifier-action-icon: url("../../resources/papyrus/obj16/ReadLinkObjectEndQualifierAction.gif");
    --uml-read-self-action-icon: url("../../resources/papyrus/obj16/ReadSelfAction.gif");
    --uml-read-structural-feature-action-icon: url("../../resources/papyrus/obj16/ReadStructuralFeatureAction.gif");
    --uml-read-variable-action-icon: url("../../resources/papyrus/obj16/ReadVariableAction.gif");
    --uml-realization-icon: url("../../resources/papyrus/obj16/Realization.gif");
    --uml-receive-operation-event-icon: url("../../resources/papyrus/obj16/ReceiveOperationEvent.gif");
    --uml-receive-signal-event-icon: url("../../resources/papyrus/obj16/ReceiveSignalEvent.gif");
    --uml-reception-icon: url("../../resources/papyrus/obj16/Reception.gif");
    --uml-reclassify-object-action-icon: url("../../resources/papyrus/obj16/ReclassifyObjectAction.gif");
    --uml-redefinable-template-signature-icon: url("../../resources/papyrus/obj16/RedefinableTemplateSignature.gif");
    --uml-reduce-action-icon: url("../../resources/papyrus/obj16/ReduceAction.gif");
    --uml-region-icon: url("../../resources/papyrus/obj16/Region.gif");
    --uml-remove-structural-feature-value-action-icon: url("../../resources/papyrus/obj16/RemoveStructuralFeatureValueAction.gif");
    --uml-remove-variable-value-action-icon: url("../../resources/papyrus/obj16/RemoveVariableValueAction.gif");
    --uml-reply-action-icon: url("../../resources/papyrus/obj16/ReplyAction.gif");
    --uml-send-object-action-icon: url("../../resources/papyrus/obj16/SendObjectAction.gif");
    --uml-send-operation-event-icon: url("../../resources/papyrus/obj16/SendOperationEvent.gif");
    --uml-send-signal-action-icon: url("../../resources/papyrus/obj16/SendSignalAction.gif");
    --uml-send-signal-event-icon: url("../../resources/papyrus/obj16/SendSignalEvent.gif");
    --uml-sequence-node-icon: url("../../resources/papyrus/obj16/SequenceNode.gif");
    --uml-signal-icon: url("../../resources/papyrus/obj16/Signal.gif");
    --uml-signal-event-icon: url("../../resources/papyrus/obj16/SignalEvent.gif");
    --uml-slot-icon: url("../../resources/papyrus/obj16/Slot.gif");
    --uml-start-classifier-behavior-action-icon: url("../../resources/papyrus/obj16/StartClassifierBehaviorAction.gif");
    --uml-state-icon: url("../../resources/papyrus/obj16/State.gif");
    --uml-state-invariant-icon: url("../../resources/papyrus/obj16/StateInvariant.gif");
    --uml-state-machine-icon: url("../../resources/papyrus/obj16/StateMachine.gif");
    --uml-stereotype-icon: url("../../resources/papyrus/obj16/Stereotype.gif");
    --uml-string-expression-icon: url("../../resources/papyrus/obj16/StringExpression.gif");
    --uml-structured-activity-node-icon: url("../../resources/papyrus/obj16/StructuredActivityNode.gif");
    --uml-substitution-icon: url("../../resources/papyrus/obj16/Substitution.gif");
    --uml-template-binding-icon: url("../../resources/papyrus/obj16/TemplateBinding.gif");
    --uml-template-parameter-icon: url("../../resources/papyrus/obj16/TemplateParameter.gif");
    --uml-template-parameter-substitution-icon: url("../../resources/papyrus/obj16/TemplateParameterSubstitution.gif");
    --uml-template-signature-icon: url("../../resources/papyrus/obj16/TemplateSignature.gif");
    --uml-test-identity-action-icon: url("../../resources/papyrus/obj16/TestIdentityAction.gif");
    --uml-time-constraint-icon: url("../../resources/papyrus/obj16/TimeConstraint.gif");
    --uml-time-event-icon: url("../../resources/papyrus/obj16/TimeEvent.gif");
    --uml-time-expression-icon: url("../../resources/papyrus/obj16/TimeExpression.gif");
    --uml-time-interval-icon: url("../../resources/papyrus/obj16/TimeInterval.gif");
    --uml-time-observation-icon: url("../../resources/papyrus/obj16/TimeObservation.gif");
    --uml-transition-icon: url("../../resources/papyrus/obj16/Transition.gif");
    --uml-transition-external-icon: url("../../resources/papyrus/obj16/Transition_external.gif");
    --uml-transition-internal-icon: url("../../resources/papyrus/obj16/Transition_internal.gif");
    --uml-transition-local-icon: url("../../resources/papyrus/obj16/Transition_local.gif");
    --uml-trigger-icon: url("../../resources/papyrus/obj16/Trigger.gif");
    --uml-u-m-l-diagram-file-icon: url("../../resources/papyrus/obj16/UMLDiagramFile.gif");
    --uml-unload-resource-icon: url("../../resources/papyrus/obj16/UnloadResource.gif");
    --uml-unmarshall-action-icon: url("../../resources/papyrus/obj16/UnmarshallAction.gif");
    --uml-usage-icon: url("../../resources/papyrus/obj16/Usage.gif");
    --uml-use-case-icon: url("../../resources/papyrus/obj16/UseCase.gif");
    --uml-value-pin-icon: url("../../resources/papyrus/obj16/ValuePin.gif");
    --uml-value-specification-action-icon: url("../../resources/papyrus/obj16/ValueSpecificationAction.gif");
    --uml-variable-icon: url("../../resources/papyrus/obj16/Variable.gif");
    --uml-call-icon: url("../../resources/papyrus/obj16/call.gif");
    --uml-eraser-icon: url("../../resources/papyrus/obj16/eraser.gif");
    --uml-file-icon: url("../../resources/papyrus/obj16/file.gif");
    --uml-hyperlink-icon: url("../../resources/papyrus/obj16/hyperlink.gif");
    --uml-insp-sbook-icon: url("../../resources/papyrus/obj16/insp_sbook.gif");
    --uml-message-info-icon: url("../../resources/papyrus/obj16/message_info.gif");
    --uml-profile-icon: url("../../resources/papyrus/profile.gif");
    --uml-stereotype-icon: url("../../resources/papyrus/stereotype.gif");
    --uml-stereotype-display-icon: url("../../resources/papyrus/stereotype_display.gif");
    --uml-values-icon: url("../../resources/papyrus/values.gif");
}