/* CLASS */
.umlclass {
    background-image: var(--uml-icon-class);
}

.umlassociation {
    background-image: var(--uml-icon-association);
}

.umlproperty {
    background-image: var(--uml-icon-property);
}

.umlenumeration {
    background-image: var(--uml-icon-enumeration);
}
