#marker-tent path,
#marker-triangle path,
#marker-triangle-empty path,
#marker-diamond path,
#marker-diamond-empty path {
    stroke-dasharray: none;
}

.marker-triangle-start {
    marker-start: url("#marker-triangle");
}

.marker-triangle-end {
    marker-end: url("#marker-triangle");
}

.marker-triangle-empty-start {
    marker-start: url("#marker-triangle-empty");
}

.marker-triangle-empty-end {
    marker-end: url("#marker-triangle-empty");
}

.marker-tent-start {
    marker-start: url("#marker-tent");
}

.marker-tent-end {
    marker-end: url("#marker-tent");
}

.marker-diamond-start {
    marker-start: url("#marker-diamond");
}

.marker-diamond-end {
    marker-end: url("#marker-diamond");
}

.marker-diamond-empty-start {
    marker-start: url("#marker-diamond-empty");
}

.marker-diamond-empty-end {
    marker-end: url("#marker-diamond-empty");
}