:root {
    /* USECASE DIAGRAM */
    --uml-icon-usecase: url(../../../../../resources/icons/dark/usecase/UseCase.gif);
    --uml-icon-actor: url(../../../../../resources/icons/dark/usecase/Actor.gif);
    --uml-icon-package: url(../../../../../resources/icons/dark/usecase/Package.gif);
    --uml-icon-component: url(../../../../../resources/icons/dark/usecase/Component.gif);
    --uml-icon-include: url(../../../../../resources/icons/dark/usecase/Include.gif);
    --uml-icon-extend: url(../../../../../resources/icons/dark/usecase/Extend.gif);
    --uml-icon-generalization: url(../../../../../resources/icons/dark/usecase/Generalization.gif);

}
