:root {
    --uml-icon-lifeline: url(../../../resources/icons/dark/Lifeline.gif);
    --uml-icon-interaction: url(../../../resources/icons/dark/Interaction.gif);
    --uml-icon-message: url(../../../resources/icons/dark/Message.gif);
}