.p-TabBar.theia-app-centers .p-TabBar-tabIcon.umlmodelfileTabIcon {
    background-image: url(../../uml-glsp/resources/icons/UMLModelFile.gif);
    height: 16px;
    width: 16px;
    background-color: transparent;
    background-repeat: no-repeat;
}

.p-Menu-itemIcon.umlmodelfile {
    background-repeat: no-repeat;
    background-position: center;
}
