.sprotty text {
    fill: var(--uml-label);
    font-size: 100%;
}

.sprotty-missing {
    stroke-width: 1;
    stroke: var(--uml-error);
    fill: var(--uml-error);
    font-size: 14pt;
    text-anchor: middle;
}

body .sprotty-popup {
    font-family: var(--vscode-font-family, 'Helvetica Neue', Helvetica, Arial, sans-serif);
    color: var(--vscode-editorHoverWidget-foreground, black);
    background: var(--vscode-editorHoverWidget-background, white);
    border-color: var(--vscode-editorHoverWidget-border, black);
    box-shadow: 0 2px 8px var(--vscode-widget-shadow, rgba(0, 0, 0, 0.16));
}

.sprotty-popup-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.sprotty-popup-body > p {
    margin-bottom: 2px;
}
