:root {
    --uml-focusBorder: var(--vscode-focusBorder);

    --uml-successBackground: var(--vscode-charts-green);
    --uml-errorForeground: var(--vscode-errorForeground);

    --uml-divider-subtitle: var(--vscode-foreground);

    --uml-editor-background: var(--vscode-editor-background);
    --uml-editor-foreground: var(--vscode-editor-foreground);

    --uml-menu-background: var(--vscode-menu-background);
    --uml-menubar-selectionBackground: var(--vscode-menubar-selectionBackground);

    --uml-tab-unfocusedActiveBorderTop: var(--vscode-tab-unfocusedActiveBorderTop);

    --uml-titleBar-activeBackground: var(--vscode-titleBar-activeBackground);
    --uml-titleBar-activeForeground: var(--vscode-titleBar-activeForeground);
    --uml-secondaryBar-background: var(--vscode-editorHoverWidget-statusBarBackground);

    --uml-widget-shadow: var(--vscode-widget-shadow);
    --uml-widget-border: var(--vscode-widget-border);

    --uml-notifications-foreground: var(--vscode-notifications-foreground);
    --uml-notifications-background: var(--vscode-notifications-background);
    --uml-notifications-border: var(--vscode-notifications-border);
}

:root {
    --uml-node: var(--vscode-sideBar-background);
    --uml-drop-shadow: var(--uml-widget-shadow);
    --uml-label: var(--vscode-foreground);
    --uml-label-hoverForeground: var(--vscode-menu-selectionForeground);
}
